.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin: 30px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    margin-bottom: 50px;
}